* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  max-width: 800px;
  height: 80%;
}

.wrapper > div {
  margin-top: 25px;
}

.info-panel {
  height: 415px;
  width: 350px;
  border-radius: 25px;
  border: 1px solid #eee;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-panel p {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.info-panel a {
  text-decoration: none;
  font-weight: bold;
}


